<html>
    <head>
        {{{block "basehead"}}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <title>if </title>
    </head>
    <body data-host="{{layout.host}}" data-port="{{layout.port}}" data-protocol="{{layout.protocol}}">
        {{{block "body"}}}
        <script src="/js/bundle.js"></script>
    </body>
</html>